<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<p><%= welcome %></p>

	<div class="user" id="user"></div>

	<script src="/js/jquery-1.9.1.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>